body {
    margin: 0;
    background-color: rgb(238, 238, 238);
}

#header {
    background-color: rgb(238, 238, 238);
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
}

#right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
}

#image {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 40px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 740px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.features-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 1000;
}

#niewiem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    margin-top: 90px;
}

button {
    background-color: rgb(255, 140, 0);;
    color: black;
    font-weight: 1000;
    border-color: transparent;
    width: 120%;
    height: 120%;
}

input {
    width: 200%;
}

#email {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 20%;
}

.trombone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin-left: 20px;
}

.title2 {
    height: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: lightgray;
    justify-content: center;
    margin-bottom: 20px;

}

.cena {
    height: 30%;
    display: flex;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.text2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;


}

.button2 {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
    margin-bottom: 0px;
    margin-left: 77px;
}

.select {
    height: 70%;
    width: 70%;
    font-weight: 100;
    font-size: 15px;

}

#cena {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: center;
}

.xd {
    margin-bottom: 10px;
}
